body {
  margin: 0;
  padding: 0;
  font-family: Rubik;
  scroll-snap-points-y: repeat(100%);
  scroll-snap-type: mandatory;
  scroll-snap-destination: 100% 0%;
}

header {
  background-image: url("../images/Introduction.jpg");
  display: inline-block;
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  scroll-snap-align: start none;
}
.headerTitle {
  text-align: center;
  color: #00bcd4;
  background-color: #b2dfdb;
  width: fit-content;
  margin: 2em auto;
  font-weight: 400;
}

.avatar {
  height: 10em;
  width: 10em;
  display: block;
  margin: 2em auto auto;
  border-radius: 50%;
  border: #b2dfdb solid 0.5em;
}

.skills {
  height: 100vh;
  background-color: aquamarine;
}
.projects {
  height: 100vh;
  background-color: cadetblue;
}

.page {
  scroll-snap-align: none start;
}
