body {
  font-family: Rubik;
  background-color: #00beff;
  padding: 0;
  margin: 0;
}

.title {
  color: #ff4000;
  text-align: center;
  text-shadow: 2px 2px black;
  background-color: #00ffbf;
  width: 100%;
}

.grid-container {
  display: grid;
  grid-column-gap: 0.5em;
  grid-row-gap: 0.5em;
  margin-left: 2em;
  margin-right: 2em;
}

.projects-grid {
  display: grid;
  grid-gap: 1em;
}

@media only screen and (min-width: 768px) {
  .projects-grid {
    grid-template-columns: 1fr;
  }
}

@media only screen and (min-width: 1200px) {
  .projects-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.project {
  background-color: pink;
  border: 2px double red;
  text-align: center;
  border-radius: 15px;
}

.avatar {
  border: 5px dotted black;
  border-radius: 50%;
  justify-self: center;
  height: 10em;
  width: 10em;
  margin-top: 2em;
}

.preview {
  height: 25em;
  object-fit: cover;
  width: 100%;
  filter: saturate(0%) opacity(75%);
  transition: filter 0.25s ease-in, transform 0.2s;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.preview:hover {
  filter: saturate(150%) opacity(100%);
  transform: scale(1.05);
}

.projectTitle {
  color: #ff4000;
  text-shadow: 2px 2px black;
  background-color: #00ffbf;
  width: 100%;
  font-size: 2em;
  margin-top: 0;
}

.about {
  text-align: center;
  margin-bottom: 1em;
}
