body {
  font-family: Rubik;
  background-color: #00beff;
}

.title {
  color: #ff4000;
  text-align: center;
}

.grid-container {
  display: grid;
}

.projects-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

@media screen and (max-width: 600px) {
  .projects-grid {
    grid-template-columns: 1fr;
  }
}
